data filter=lfs diff=lfs merge=lfs -text
data/scenes/profiling.log filter=lfs diff=lfs merge=lfs -text
data/textures filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1002_Emissive.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1002_Glossiness.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1003_Glossiness.png filter=lfs diff=lfs merge=lfs -text
data/animations/Astra_Idle.fbx filter=lfs diff=lfs merge=lfs -text
data/models filter=lfs diff=lfs merge=lfs -text
data/scenes/main.rgs filter=lfs diff=lfs merge=lfs -text
data/rg3d.log filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1001_Emissive.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1002_Normal.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1003_Diffuse.png filter=lfs diff=lfs merge=lfs -text
data/animations/Astra_jogging.fbx filter=lfs diff=lfs merge=lfs -text
data/animations/Astra_sword_And_Shield_Jump.fbx filter=lfs diff=lfs merge=lfs -text
data/models/Astra.fbx filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1002_Diffuse.png filter=lfs diff=lfs merge=lfs -text
data/animations filter=lfs diff=lfs merge=lfs -text
data/textures/barrel.jpg filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1001_Diffuse.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1001_Specular.png filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1002_Specular.png filter=lfs diff=lfs merge=lfs -text
data/models/barrel.FBX filter=lfs diff=lfs merge=lfs -text
data/scenes filter=lfs diff=lfs merge=lfs -text
data/textures/Ch48_1001_Glossiness.png filter=lfs diff=lfs merge=lfs -text
data/animations/Astra_jogging2.fbx filter=lfs diff=lfs merge=lfs -text
data/animations/Astra_sword_And_Shield_Slash.fbx filter=lfs diff=lfs merge=lfs -text
data/models/Cyber_Sword.fbx filter=lfs diff=lfs merge=lfs -text
data/textures/Cyclops[[:space:]]Normal[[:space:]]Bake.png filter=lfs diff=lfs merge=lfs -text
data/textures/Cyclops[[:space:]]Roughness[[:space:]]Bake.png filter=lfs diff=lfs merge=lfs -text
data/animations/CyclopsFILE8_idle.fbx filter=lfs diff=lfs merge=lfs -text
data/models/CyclopsFILE8.fbx filter=lfs diff=lfs merge=lfs -text
data/textures/Cyclops[[:space:]]Diffuse10.png filter=lfs diff=lfs merge=lfs -text
data/textures/Cyclops[[:space:]]Metalness.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Metallic.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Normal.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Normal_DirectX.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Roughness.png filter=lfs diff=lfs merge=lfs -text
data/textures/CyberPunkEspada[[:space:]].fbx filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Base_Color.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Emissive.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Height.png filter=lfs diff=lfs merge=lfs -text
data/textures/Material.001_Mixed_AO.png filter=lfs diff=lfs merge=lfs -text
